@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body {
	scroll-behavior: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 16px;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

* {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	font-weight: 400;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1rem;
	color: #333;
}

#root {
	height : 100%;
}

.epub-container {
	overflow-x: hidden !important;
}

.epub-container::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}