# ---------------------------------- Tyepscript --------------------------------- #
tsconfig.json

# ------------------------------------ Assets ----------------------------------- #
public/**/*
node_modules/**/*